@using ExceptionSolutionProject.ApiResponse
@model UserByIdResponse


<h2>@Model.FullName Kullanıcısına Mesaj Gönder</h2>

<form asp-action="SendMessage" method="post">
    <input type="hidden" name="userId" value="@Model.Id" />
    
    <div>
        <label for="message">Mesajınız:</label>
        <textarea name="message" id="message" rows="4" cols="50"></textarea>
    </div>

    <div>
        <button type="submit">Mesaj Gönder</button>
    </div>
</form>
